
<div id="about-box">
		<div class="col-lg-3">	
				<%= image_tag("cropsterdam.png", class: "img-responsive img-circle", id: "head-pic")%>
		</div>
	
	
	<!-- Welcome! I'm a self-taught developer and a (fairly) recent graduate. I like language, data, and culture, and I'm interested in building apps around these themes. -->
			<div class="col-lg-8" id="desc">
	<p id="welcome"> Under Construction! </p>

		</div>
</div>

