<div class="container-fluid">
	<div class="row-fluid">
		
	

	<div class="col-md-10">
		<div id="about-box" class="box">
		

		
		<div id="circ">
		</div>
		
		<br>
		<div id="text-about">
		<h4> Welcome! I'm a linguist turned programmer looking for my first position as a web developer. I use ruby on rails and javascript from end to end. I enjoy interdisciplinary thinking and collaborative environments. </h4> </br>
		
		<h4> I also like sketch comedy, social justice, trip hop, and tex-mex. Get in touch!  rekha.tenjarla@gmail.com </h4>
		
		</div>
		</div>

	</div>
   </div>
</div>