
<head>
	
</head>

<body>

<div class="container-fluid">
	<div class="row-fluid">
	
	<div id="sidebar">

	</div>
</div>
</div>




<!-- add after you create pdf resume !

<div id="filter-bar">
	<h3> filter by: <span> programming </span> <span> linguistics </span> <span> social justice </span> <span> teaching </span></h3>
</div>

!-->






</body>