
<div class="container-fluid purple">
	<div class="row-fluid">
		
	<div class="col-md-12 purple" id="about-box">
		
	<div class="col-md-4" id="circ-col">		
			
	<div id="circ">
		<%= image_tag("cropsterdam.png", class: "img-responsive img-circle")%>
	</div>
	
</div>

	<div class="col-md-8" id="intro-col">		
	
	<h1 id="intro"> Rekha Tenjarla </h1>
	</div>
	
</div>
	
   </div>
</div>