<div class="container-fluid">
	<div class="row-fluid">
		
	

	<div class="col-md-12">
		
		<div id="about-box">
		

		
		<div id="circ">
		</div>
		
		<br>
	

	
	<div id="text-about" class="col-md-6">
		<h1> Welcome </h1>
		<!-- <h4> Welcome! I'm a linguist turned programmer looking for my first position as a web developer. I use ruby on rails and javascript from end to end. I'm a fast learner who enjoys interdisciplinary thinking and collaborative environments. </h4> </br>

		<h4> I also like sketch comedy, social justice, trip hop, and tex-mex. Get in touch!  rekha.tenjarla@gmail.com </h4>
		 -->
		</div>
	
	
	
		</div>

	</div>
   </div>
</div>