
<div id="about-box">
		<div class="col-lg-3">	
				<%= image_tag("cropsterdam.png", class: "img-responsive img-circle", id: "head-pic")%>
		</div>
	
	
			<div class="col-lg-8" id="desc">
	<p id="welcome"> Welcome! I'm a self-taught developer and (fairly) recent graduate. I like language, data, and culture, and I try to build apps around these themes. </p>

		</div>
</div>