<div class="hidden" id="contact-bar">


  			<div class="row-fluid">

				<div class="col-lg-4">
					<h1 id="intouch"> Get in touch! </h1>
				</div>

				<div class="col-lg-4 col" id="col-1">
  			 	   <a href="https://www.github.com/rekhers" >
				  <i class="fa fa-github-square fa-5x"> </i> </a>
      			 <div class="tag" id="github-tag" > github.com/rekhers </div>
				 
 				<div id="twitter" class="second-row">
   			 	 <a href="https://www.twitter.com/rekhers" >
 				  <i class="fa fa-twitter-square fa-5x"> </i> </a>
   			 	<div class="tag " id="twitter-tag"> @rekhers </div>
				  </div>
			  	</div>
			
				<div class="col-lg-4 col" id="col-2">
  				  <a href="https://www.linkedin.com/in/rekhatenjarla" >
				  <i class="fa fa-linkedin-square fa-5x"> </i> </a>
 				 <div class="tag " id="linkedin-tag"> linkedin.in/rekhatenjarla </div>

   				<div id="email" class="second-row">
    				  <a href="mailto:rekha.tenjarla@gmai.com" >
  				  <i class="fa fa-envelope fa-5x"> </i> </a>
  				  <div class="tag " id="email-tag"> rekha.tenjarla@gmail.com </div>
				 </div>
				 
			 </div>

			</div>


		</div>
