			<div class="container-fluid black-panel">
			
			<div class="row-fluid">
				
				<div class="col-md-12 black-panel" id="cbar">
					
					
					
				<div class="col-md-3 " id="email">
	
				

					<a id="email" class="links" href="mailto:rekha.tenjarla@gmail.com"><i class="fa fa-envelope"></i></a>
					
				</div>
				
				
				
				
				<div class="col-md-3 " id="twitter">
				
						<a id="twitter" class="links" href="http://www.twitter.com/rekhers"><i class="fa fa-twitter-square"></i></a>
							
						</div>
						
						
						
						
						<div class="col-md-3" id="linkedin">
						
							<a id="linkedin" class="links" href="http://www.linkedin.com/in/rekhatenjarla"><i class="fa fa-linkedin-square"></i></a> 
							
						</div>
						
						
						
						<div class="col-md-3" id="github">
						
						
						<a id="github"  class="links" href="http://www.github.com/rekhers"><i class="fa fa-github">  </i></a>
					
					
					</div>
					
				</div>
		</div>			
	
	</div>