<div class="container-fluid black-panel">
		<div class="row-fluid">
			<div class="col-md-12 black-panel" id="panel-1-box">
				<div id="desc1" class="desc">
				<h2 id="text1"> Recent graduate, self-taught developer, and tex-mex enthusiast seeking a front-end or fullstack position. </h2>
						
			</div>
</div>
</div>
</div>
