
	<div class="container-fluid black-panel">
			<div class="row-fluid">
				<div class="col-md-12 black-panel" id="panel-2">
					<div id="desc2" class="desc">
					<h2 id="text2"> I'm passionate about interdisciplinary, 						socially-relevant projects and I'm commited to perpetual self-education </h2>
						
				</div>
				</div>
				</div>
				</div>