<div class="container-fluid black-panel">
		<div class="row-fluid">
			<div class="col-md-12 purple" id="panel-1-box">
				<div id="desc1" class="desc">
				<h1 id="desc-text1"> Recent graduate, self-taught developer, and tex-mex enthusiast seeking a front-end or fullstack position. </h1>
						
			</div>
</div>
</div>
</div>
