	
	<div class="container-fluid gray hidden" id="p-b">
	
	<div class="row-fluid">
		
		
	
		
			
		<div class="col-md-6" id="tweets-usa">
		
				<div class="res-heading"> <h1> Tweets USA </h1> </div>
			<p id="tw-desc">	Using node.js and socket.io to push tweets to a US map in real time! </p> <br>
				
				<div id="tweet-screenshot">
					<a href="http://tweets-usa.herokuapp.com/">
					
					<%= image_tag('tweets-usa-screenshot.png', class:"img-responsive") %>			
					</a>
				</div>
				<br>
				
				
				<div id="tw-links" class="col-md-3">
					<div id="demo-link">
				<p>  <a href="http://tweets-usa.herokuapp.com/">  Demo </a></p>
				
				
			</div>
			
			<div id="code" class="col-md-3">
				<p> <a href="https://github.com/rekhers/tweets_USA"> Source Code </a></p>
				
				<i class="fa fa-github fa-4x"></i>
				
			</div>
			</div>
				
			 </div> 
			  </div>
			  
			
		
			
	
		
	
	



	
	<div class="col-md-6" id="work-now">
		<div class="res-heading"> <h1> Texas Maps with d3.js </h1> </div>
		<div id="tex-desc"><p> I'm currently teaching myself d3 by building a series of data visualizations that combine geoJSON (to draw county lines) with US census data </p>
		</div>
		<div id="tex-screenshot">
		<%= image_tag('d3tx.png', class:"img-responsive") %>			
	</div>
		<h2 id="coming-soon"> Coming Soon! </h2>
	
		
				</div>
	
	
</div>
</div>