	
	<div class="container-fluid hidden" id="p-b">
	
	<div class="row-fluid">
		
		
	
		
			
		<div class="col-md-6" id="tweets-usa">
		
				<div class="res-heading "> <h1 class="titles"> Tweets USA </h1> </div>
			<p id="tw-desc">	Using node.js and socket.io to push tweets to a US map in real time! </p> <br>
				
				<div id="tweet-screenshot">
					<a href="http://tweets-usa.herokuapp.com/">
					
					<%= image_tag('tweets-usa-screenshot.png', class:"img-responsive") %>			
					</a>
				</div>
				<br>
				
				
			<div id="tw-links" >
					<div id="demo-link" class="col-md-4" >
						
					<a href="http://tweets-usa.herokuapp.com/" class="hov-link">  <i id="demo" class="fa fa-cog fa-4x proj-icon" id="cog"></i></a>
					<h3 class="link-desc hidden" id="demo-desc"> Demo </h3>
					
					</div>
			
						<div id="code" class="col-md-4">
				
				<a href="https://github.com/rekhers/tweets_USA" class="hov-link">  <i id="sc" class="fa fa-code-fork fa-4x proj-icon" id="fork"> </i></a>
				<h3 class="link-desc hidden" id="code-desc" > Code</h3>
				
				
						</div>
		
				</div>
				
		</div>	  
			
		
			
	
		
	
	



	
	<div class="col-md-6" id="work-now">
		<div class="res-heading"> <h1 class="titles"> Texas Maps with d3.js </h1> </div>
		<div id="tex-desc"><p> I'm currently teaching myself d3 by building a series of data visualizations that combine geoJSON (to draw county lines) with US census data </p>
		</div>
		<div id="tex-screenshot">
		<%= image_tag('d3tx.png', class:"img-responsive") %>			
	</div>
		<h2 id="coming-soon"> Coming Soon! </h2>
	
		
				</div>
	
	
</div>
</div>