	
<div class="container-fluid">		
	<div class="row-fluid">
		<div class="col-md-11">
		<div id="proj-box" class="box">
			<div class="res-heading">
			</div>
			
			<div id="tweets-usa">
			<h3> Tweets USA </h3>
			<p> Using node.js and socket.io to push tweets to a US map in real time! </p> </br>
			<div id="tweet-screenshot">
				<%= image_tag('tweets-usa-screenshot.png') %>
			</div>
			<br>
			<p> Demo: <a href="http://tweets-usa.herokuapp.com/">  http://tweets-usa.herokuapp.com/ </a></p> </br>
			<p> Github: <a href="https://github.com/rekhers/tweets_USA"> https://github.com/rekhers/tweets_USA </a></p>
		</div>
		
	




		
		<div id="work-now">
			<h1> currently I'm working on: </h1>
			<ul id="work-items">
				
				<li> <dt> Texas Gubernatorial Race 2014 Map </dt></li> <dd> Use Google Fusion Tables to compare demographic data with electoral results </dd> <br>
				
				<li> <dt> Wicked Twitta! </dt></li> <dd> Data visualization of where "wicked" is most frequently used in the United States with a part of speech tagger that determines whether it's being used as an adjective or adverb   </dd><br>
								
				<li><dt> Learning functional programming</dt> <dd> Building a lambda calculus evaluator in Haskell</dd></li>
			</ul>
		</div>
		
		
			
		</div>
		
		
	</div>
</div>
		
	</div>
	
