		
<div class="container-fluid">		
	<div class="row-fluid">
		<div class="col-md-8">
		<div id="proj-box" class="box right-side">
			<div class="res-heading">
				<h1> Projects </h1>
			</div>
			
			<dt> Tweets USA </dt>
			<dd> Using node.js and socket.io to map tweets to a US map in real time! </dd> </br>
			<dd> Demo: http://tweets-usa.herokuapp.com/ </dd> </br>
			<dd> Github: https://github.com/rekhers/tweets_USA </dd>
			
		</div>
	</div>
</div>
		
	</div>