	
	<div class="container-fluid">
	
	<div class="row-fluid">
		
			
		<div class="col-md-12 proj" id="tweets-usa">
		
			
			
		
			<h3> Tweets USA </h3>
			<p> Using node.js and socket.io to push tweets to a US map in real time! </p> </br>
			<div id="tweet-screenshot">
				<a href="http://tweets-usa.herokuapp.com/">
				<%= image_tag('tweets-usa-screenshot.png') %>
			</a>
			</div>
			<br>
			<p> Demo: <a href="http://tweets-usa.herokuapp.com/">  http://tweets-usa.herokuapp.com/ </a></p> 
			<p> Github: <a href="https://github.com/rekhers/tweets_USA"> https://github.com/rekhers/tweets_USA </a></p>
		</div>
		
	</div>


<div class="row-fluid" id="work-now">

	
	<div class="col-md-12">
	
		<div class="col-md-3 proj">



		
			<h1> currently I'm working on: </h1> <br>
			
			<div class="panel panel-default">
				<div class="panel-heading" id="tex"> Texas Gubernatorial Race 2014 Map </div>
					<div class="panel-body">
				  Using Google Fusion Tables to compare demographic data with electoral results 					</div> 
			  </div>
				  
		  		</div>
				  
				  
		  		<div class="col-md-3 proj" id="work-now">
				  
				  
	  			<div class="panel panel-default">
	  				<div class="panel-heading" id="wicked"> Wicked Twitta!  </div>
	  					<div class="panel-body">
	  				 Data visualization of where "wicked" is most frequently used in the United States with a part of speech tagger that determines whether it's being used as an adjective or adverb  					</div> 
	  			  </div>
				</div>
				
				<div class="col-md-3 proj" id="work-now">
				
				
				<div class="panel panel-default">
					<div class="panel-heading" id="haskell"> Learning functional programming </div>
						<div class="panel-body">
					 Building a lambda calculus evaluator in Haskell					
				 	</div> 
				  </div>
				  
				<div class="col-md-3 proj" id="work-now">
				
				
		
		</div>
			
		</div>
		
		
</div>
