	
	<div class="container-fluid hidden" id="p-b">
	
	<div class="row-fluid">
		
		
	
		
			
		<div class="col-md-6" id="tweets-usa">
		
				<div class="res-heading "> <a href="http://tweets-usa.herokuapp.com/" id="tweets-heading"> <h1 class="titles"> Tweets USA </a> <a href="http://github.com/rekhers/tweets_USA"><i class="fa fa-github fa-lg"></i></a> </h1></div>
			<p id="tw-desc">	Using node.js and socket.io to push tweets to a US map in real time! </p> <br>
				
				<div id="tweet-screenshot">
					<a href="http://tweets-usa.herokuapp.com/">
					
					<%= image_tag('tweets-usa-screenshot.png', class:"img-responsive") %>			
					</a>
				</div>
				<br>
				
		
		</div>	  
			
		
			
	
		
	
	



	
	<div class="col-md-6" id="work-now">
		<div class="res-heading"><a id="maps-heading" href="http://rekhers.github.io/d3_maps/"><h1 class="titles"> Maps with d3.js </a> <a href="http://www.github.com/rekhers/d3_maps"><i class="fa fa-github fa-lg"></i></a></h1>
</div>
		<div id="tex-desc"><p> I'm currently teaching myself d3 by building a series of maps that incorporate demographic and political data </p>
		</div>
		<div id="tex-screenshot">
		<%= image_tag('d3tx.png', class:"img-responsive") %>			
	</div>
	
		
				</div>
	
	
</div>
</div>