	
	<div class="container-fluid gray">
	
	<div class="row-fluid">
		
		
		
		
		
			
		<div class="col-md-6" id="tweets-usa">
		
			<div class="panel panel-default">
				<div class="panel-heading" id="tex-header"> <h3> Tweets USA </h3> </div>
					<div class="panel-body">
			<h5>	Using node.js and socket.io to push tweets to a US map in real time! </h5> <br>
				
				<div id="tweet-screenshot">
					<a href="http://tweets-usa.herokuapp.com/">
					<%= image_tag('tweets-usa-screenshot.png') %>
				</a>
				</div>
				<br>
				<p> Demo: <a href="http://tweets-usa.herokuapp.com/">  http://tweets-usa.herokuapp.com/ </a></p> 
				<p> Github: <a href="https://github.com/rekhers/tweets_USA"> https://github.com/rekhers/tweets_USA </a></p>
				
				
			 </div> 
			  </div>
			  
		  		</div>
			
		
			
		</div>
		
	
	



	
	<div class="col-md-6" id="work-now">
		
		<h1 id="current"> currently I'm working on: </h1> <br>
		
	
		<div class="col-md-4" id="tex">



		
			
			
			<div class="panel panel-default">
				<div class="panel-heading" id="tex-header"> <h5> Texas Gubernatorial Race 2014 Map </h5></div>
					<div class="panel-body">
				  Using Google Fusion Tables to compare demographic data with electoral results 					</div> 
			  </div>
				  
		  		</div>
				  
				  
		  		<div class="col-md-4" id="wicked">
				  
				  
	  			<div class="panel panel-default">
	  				<div class="panel-heading" id="wicked-header"> <h5> Wicked Twitta! </h5> </div>
	  					<div class="panel-body">
	  				 Data visualization of where "wicked" is most frequently used in the United States with a part of speech tagger that determines whether it's being used as an adjective or adverb  					</div> 
	  			  </div>
				</div>
				
				<div class="col-md-4" id="haskell">
				
				
				<div class="panel panel-default">
					<div class="panel-heading" id="haskell-header"> <h5> Learning functional programming </h5></div>
						<div class="panel-body">
					 Building a lambda calculus evaluator in Haskell					
				 	</div> 
				  </div>
				  
		
			
		</div>
		
		
</div>
</div>