





<div class="container-fluid">
<div class="row-fluid" >
	
	<div id="res-box">
	
	<!-- COLUMN 1 !-->

	
	<div class="col-md-6">
		
		
		<!-- EDUCATION !-->
		
		<div id="edu-box" class="top">
		<div class="res-heading">
			<h1> Education </h1>
		</div>
			<dl>
				<dt>  University of Massachusetts Amherst      |<span> 2010-2014 <span>  				</dt>
				<dd>  Bachelor of Arts in Linguistics </dd>
				<br>
				
				<dt> University College of London      |<span> Spring 2012 <span> </dt>
				<dd> Exchange Program in Linguistics </dd>
				
			</dl>
		</div>
		
		
		
		
		<!-- PROGRAMMING EXP !-->
	
		<div id="skill-box">
			<div class="res-heading">
				<h1> Programming Background </h1>
			</div>
			
			<dt> Github: </dt>
			<li><a href="https://github.com/rekhers"> https://github.com/rekhers </a></li> </br>
			
			
			<dt> Courses I took in college: </dt>
			<ul>
				<li> Natural Language Processing with Python </li>
				<li> Intro to Object-Oriented Programming with Java </li>
				<li> Data Structures and Algorithms in Java </li>
			</ul>
			
		</br>
			
			<dt> Tools that I've been using lately: </dt>
			<ul>
				<li> Ruby on Rails </li>
				<li> Full stack JS: Node.js, Express, Angular.js, Mongo DB </li>
				<li> HTML5, CSS3, JQuery, Twitter Bootstrap </li>
			</ul>
			
		</div>
		
	</div>
	
		
		
		
	
	
	
	
	
		<!-- COLUMN 2 !-->
	
	<div class="col-md-6">
		
				<div id="work-exp" class="top">
						<div class="res-heading">
						   <h1> Work Experience </h1>
						</div>
							<dl>
								<dt>
								Assistant Policy Debate Coach |<span>  2014 - Present </span>| Austin
								</dt>
									<dd> Continuing my high school legacy by coaching approximately 40 										 freshmen at local tournaments </dd>
		 
										<br>
								<dt>
								Lead Coordinator and Assistant Director |<span> 2012 - 2014 </span>| Amherst
								</dt>
		
									<dd> Managed all casting, scheduling, and networking for UMass’ public 										health theatre troupe, the Not Ready for Bedtime Players. I was also a 										cast member who performed weekly. </dd>
				</br>
		
				<dt> Intern |<span> Summer 2013 </span>| New York City </dt>
		
				<dd> Received a grant from Hampshire College for 10-week internship at legal advocacy firm National Advocates for Pregnant Women </dd>
				
				<br>
			
			
				<dt> Teaching Assistant for LING:402 Phonology |<span> Spring 2013 </span>| Amherst </dt> 
				
				
					<dd> Core class about the theoretical distribution of sound systems. </dd>
				
					
				
					<br>
				
				<dt> Teaching Assistant for LING:414 Phonetics |<span> Fall 2012 </span>| Amherst</dt>
				 <dd> Core class about the physics of speech sound </dd>				 
				 
			 </br>
			 
				 <dt> Research Assistant |<span> 2010-2011 </span>| Amherst</dt>
				 <dd> Worked on National Science Foundation Grant no: 0813829 to develop models in Optimality Theory and Harmonic Serialism </dd>
			 
				
			</dl>
			</div>
		</div>
		</div>
	
	
	
	</div>
	
	

	
</div>
	