
<head>
	
</head>

<body>

<div class="container-fluid">
	<div class="row-fluid">
	
	<div id="sidebar">

	</div>
</div>
</div>



<div class="container-fluid">

<div class="row-fluid">
	
<div class="col-md-12">	
	<div class="jumbotron">
	<h1 id="title"> Rekha Tenjarla <span class="glyphicon glyphicon-headphones"></span> </h1>
	
	<br>
		
	<div id="desc" class="lead"> Recent graduate and self-taught developer looking for a front-end / fullstack position </div>
</div>
</div>

</div>
</div>


<!-- add after you create pdf resume !

<div id="filter-bar">
	<h3> filter by: <span> programming </span> <span> linguistics </span> <span> social justice </span> <span> teaching </span></h3>
</div>

!-->


<div class="container-fluid">
<div class="row-fluid">
	
	
	<!-- COLUMN 1 !-->
	
	
	<div class="col-md-6">
		
		<!-- EDUCATION !-->
		
		<div id="edu-box" class="box left-side">
		<div class="res-heading">
			<h1> Education </h1>
		</div>
			<dl>
				<dt>  University of Massachusetts Amherst      |<span> 2010-2014 <span>  				</dt>
				<dd>  Bachelor of Arts in Linguistics </dd>
				<br>
				
				<dt> University College of London      |<span> Spring 2012 <span> </dt>
				<dd> Exchange Program in Linguistics </dd>
				
			</dl>
		</div>
		
		
		
		
		<!-- Work Experience !-->
		
			<div id="work-exp" class="box left-side">
				<div class="res-heading">
					<h1> Work Experience </h1>
				</div>
				<dl>
					<dt>
						Assistant Policy Debate Coach Fall |<span>  2014 - Present </span>| Austin, TX
					</dt>
					<dd> Continue my legacy by coaching approximately 40 freshmen at local tournaments </dd>
		
			<br>
				<dt>
					Lead Coordinator of Not Ready For Bedtime Players |<span> 2012 - 2014 </span>| Amherst, MA
				</dt>
		
				<dd> Worked in University of Massachusetts' Center for Health Promotion to run 		an award winning public health comedy troupe in which I was also a cast member </dd>
			</br>
		
			<dt> Intern at National Advocates for Pregnant Women |<span> Summer 2013 </span>| New York City </dt>
		
			<dd> 10 weeks grant from hampshire RRASC </dd>
		
			<br>
			
			<dt> Teaching Assistant |<span> Fall 2012 & Spring 2013 </span>| </dt>
			<dt> 401 Phonology </dt>
				
		</dl>
		</div>
		
	</div>
	
	
	
	
	
	
		<!-- COLUMN 2 !-->
	
	<div class="col-md-6">
	
	
	<!-- Programming Backgorund !-->
	
		<div id="skill-box" class="box right-side">
			<div class="res-heading">
				<h1> Programming Background </h1>
			</div>
			
			<dt> Courses I took in college: </dt>
			<ul>
				<li> Natural Language Processing with Python </li>
				<li> Intro to OOP with Java </li>
				<li> Data Strcutures and Algorithms in Java </li>
			</ul>
			
			<dt> these are the tools that I've been using lately </dt>
			<ul>
				<li> Ruby on Rails </li>
				<li> Full stack JS: Node.js, Express, Angular.js, Mongo DB </li>
				<li> HTML5, CSS3, JQuery, Twitter Bootstrap </li>
			</ul>
			
		</div>
	
	
	
	
	
	
	
	
	
	
		
		<!-- Projects!-->
		
		<div id="proj-box" class="box right-side">
			<div class="res-heading">
				<h1> Projects </h1>
			</div>
			
			<dt> Wicked Twitta! </dt>
			<dd> Using node.js and socket.io to map tweets to a US map in real time! </dd>
			
		</div>
	
		
	</div>
	
	
	

</div>
	</div>
	
</div>
	



</body>