<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>



		<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="row">
					
				    <div class="navbar-header">
				         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-bar">
				           <span class="sr-only">Toggle navigation</span>
				           <span class="icon-bar"></span>
				           <span class="icon-bar"></span>
				           <span class="icon-bar"></span>
				         </button>
			        	 	<a class="navbar-brand" href="#about">Rekha Tenjarla</a>
				       </div>
			

					<div class="collapse navbar-collapse" id="collapse-bar">
 				<ul class="nav navbar-nav" id="resp-navbar">
			
				  <li><a href="#resume"> resume </a> </li>
				  <li> <a href="#projects">projects </a> </li>
				  <li> <a href="#contact"> contact </a></li>
			  </ul>
			</div>
			
	</div>
		
</div>
</nav>


	
	
	
	
	
	<div id="about" class="section">
	<%= render "about" %>
	</div>

<div id="black-panel-1" class="black-panel">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-12">
				<div id="desc1" class="desc">
				<h1 id="desc-text1"> Recent graduate, self-taught developer, and tex-mex enthusiast seeking a front-end or fullstack postiion. </h1>
						
			</div>
</div>
</div>
</div>
</div>	



	<div id="resume" class="section">
	<%= render "resume" %>
	</div>
	
	
	
	<div id="black-panel-2" class="black-panel">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-12">
					<div id="desc2" class="desc">
					<h1 id="desc2-text"> I'm passionate about interdisciplinary, 						socially-relevant projects and I'm commited to perpetual self-education </h1>
						
				</div>
				</div>
				</div>
				</div>
				</div>
	
	
	<div id="projects" class="section">
	<%= render "projects" %>
	</div>
	

<!--  TODO: Fix current hacky solutions of not being able to style fa icons normally-->
		<div id="contact-bar">
		<div class="container-fluid" id="contact">
			
			<div class="row-fluid">
				
			
				
				<div class="col-md-3" id="twitter">
					
				
							<h3><a id="twitter" class="links" href="http://www.twitter.com/rekhers"><i class="fa fa-twitter-square fa-5x"></i></a></h3>
							
						</div>
						
						<div class="col-md-3" id="linkedin">
						
							<h3><a id="linkedin" class="links" href="http://www.linkedin.com/in/rekhatenjarla"><i class="fa fa-linkedin-square fa-5x"></i></a> </h3>
							
						</div>
						
						<div class="col-md-3" id="twitter">
						
						
							<h3><a id="github"  class="links" href="http://www.github.com/rekhers"><i class="fa fa-github fa-5x">  </i></a>
						</h3>
					</div>
					
					


	</div>
	</div>
</div>
	
	
	
	
</body>
</html>