




		<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="row">

				<ul class="nav navbar-nav">
			        <a class="navbar-brand" href="#about">Rekha Tenjarla</a>
					
				 
				  <li><a href="#resume"> resume </a> </li>
				  <li> <a href="#projects">projects </a> </li>
				  <li> <a href="#blog"> contact </a></li>
			  </ul>
			
			
	</div>
		
</div>
</div>


	
	
	
	
	
	<div id="page1">
	<div id="about" class="section">
	<%= render "about" %>
	</div>
</div>
	
	<div id="page2">
	<div id="resume" class="section">
	<%= render "resume" %>
	</div>
</div>
	
	
	<div id="page3">
	<div id="projects" class="section">
	<%= render "projects" %>
	</div>
</div>
	
	<div id="page 4">
	<div id="blog" class="section">
	<%= render "blog" %>
	</div>
</div>
	

