


<div class="container-fluid" id="main-container">

<div class="row-fluid">
	
<div class="col-md-11">	
	

	
	<div class="jumbotron">
	<h1 id="title">  Rekha Tenjarla <span class="glyphicon glyphicon-headphones"></span> </h1>
	
	<br>
		
	<div id="desc" class="lead"> Recent graduate and self-taught developer looking for a front-end / fullstack position 	</div>

<br>
		
	

<div class="btn-group" role="group">
	  <button type="button" class="about"> about </button>
	  <button type="button" class="resume"> resume </button>
	  <button type="button"  class="projects"> projects </button>
	  <button type="button" class="blog"> blog </button>
	  
</div>

	
	
	
</div>
</div>

	
	
	<div id="about" class="section about">
	<%= render "about" %>
	</div>
	
	
	<div id="resume" class="section resume">
	<%= render "resume" %>
	</div>
	
	<div id="projects" class=" section projects">
	<%= render "projects" %>
	</div>
	
	
	<div id="blog" class="section blog">
	<%= render "blog" %>
	</div>
	
	

</div>
</div>

