<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Rekha Tenjarla's personal portfolio site">
	    <meta name="author" content="Rekha Tenjarla">
		
</head>






		<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="row">
					
				    <div class="navbar-header">
				         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-bar">
				           <span class="sr-only">Toggle navigation</span>
				           <span class="icon-bar"></span>
				           <span class="icon-bar"></span>
				           <span class="icon-bar"></span>
				         </button>
			        	 	<a class="navbar-brand" href="#about">Rekha Tenjarla</a>
				       </div>
			

				
					<div class="collapse navbar-collapse" id="collapse-bar">
 				<ul class="nav navbar-nav" id="resp-navbar">
			
				  <li><a href="#resume"> resume </a> </li>
				  <li> <a href="#projects">projects </a> </li>
				  <li> <a href="#contact"> contact </a></li>
			  </ul>
			</div>
			
	</div>
		
</div>
</nav>



	<body>

	   <div class="container-fluid">

	<div class="row-fluid">
	    <div class="col-lg-12">
	  <header id="h">
     
	  <h1 id="header"> Rekha Tenjarla </h1>
    
	  </header>
	  </div>
	    </div
  
  
   
	    <div class="row-fluid">
	    <div class="col-lg-12">
      
	      <nav class="nav navbar">
	     <ul>
	       <li> <a href="#" class="active"> about</a> </li>
	       <li> <a href="#"> resume </a> </li>
	       <li> <a href="#" id="proj"> projects </a> </li>
	     </ul>
	      </nav>
	      </div>
 
	  </div>
	  </div>
  
	   <div class="container-fluid">
	    <div class="row-fluid">
	    <div class="col-lg-8">
	    <div class="col-lg-4" id="content">
  
	     I love language, data, and culture. Please hire me.  
     
	           </div>
	     </div>
	  </div>
 
	</body>
	
	
	
	
</html>