<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

		<div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="row">
			        <a class="navbar-brand" href="#about">Rekha Tenjarla</a>

					
 				<ul class="nav navbar-nav">
				  <li><a href="#resume"> resume </a> </li>
				  <li> <a href="#projects">projects </a> </li>
				  <li> <a href="#blog"> contact </a></li>
			  </ul>
			
			
	</div>
		
</div>
</div>


	
	
	
	
	
	<div id="about" class="section">
	<%= render "about" %>
	</div>

<div id="bigger" class="section">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-12">
				<div id="desc">


			</div>
</div>
</div>
</div>
</div>	



	<div id="resume" class="section">
	<%= render "resume" %>
	</div>
	
	
	<div id="projects" class="section">
	<%= render "projects" %>
	</div>
	
	
	<div id="blog">
	<%= render "blog" %>
	</div>
	
</body>
</html>