<!DOCTYPE html>
<html>
<head>
  <title> Rekha Tenjarla </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Ubuntu|Shadows+Into+Light|Asap|Droid+Serif|Slabo+27px|Indie+Flower|Nunito:400,700|Play' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Abel|Arvo|Lobster|Francois+One|Montserrat|Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>
	

<%= yield %>

</body>
</html>
